#title{
    float: left;
    color: black;
}

#pitop{
    float: right;

}

#Button-Plezier{
float: right;
margin-top: 40px;
}


#Zelfvertrouwen{
    float: right;
    margin-top: 40px;

}


#SintLucas{
    float: right;
    margin-top: 600px;
    margin-right: 110px;
    margin-left: 100px;

}



#TrotsButton{
float: right;
    margin-top: 40px;

}


#groei{
    float: right;
    margin-top: 40px;

}




#eigenheid{
    float: right;
    margin-top: 40px;
}


#unity{
    float: left;
    margin-top: 500px;

}




#gameIcon{
float: left;

}







#background{
background-image: none;

}




